.call {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    &__wrap {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        background-color: #2D2D2D;
        padding: 40px 20px 30px 20px;
        border-radius: 5px;
        border: 1px solid #777777;
        text-align: center;
        &__close {
            position: absolute;
            right: 13px;
            top: 13px;
            text-align: end;
            width: 22px;
            height: 22px;
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
                opacity: 0.8;
            }
        }
        &__title {
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            font-family: 'SF-Medium';
            color: #FBC418;
            text-transform: uppercase;
        }
        &__subtitle {
            font-size: 18px;
            color: #fff;
            width: 400px;
            margin: 0 auto;
            margin-top: 10px;
        }
        &__btns {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            &__phone {
                width: 300px;
                text-align: center;
                padding-top: 14px;
                padding-bottom: 14px;
                background-color: #FBC418;
                color: #12161E;
                font-size: 18px;
                text-transform: uppercase;
                border-radius: 10px;
                box-shadow: 0px 0px 30px rgba(67, 216, 84, 0.15);
                transition: 0.3s ease;
                margin-bottom: 20px;
                &:hover {
                    box-shadow: 0px 0px 30px rgba(67, 216, 84, 0.4);
                }
            }
            &__telegram {
                width: 300px;
                text-align: center;
                padding-top: 14px;
                padding-bottom: 14px;
                background-color: #2AABED;
                color: #fff;
                font-size: 18px;
                text-transform: uppercase;
                border-radius: 10px;
                box-shadow: 0px 0px 30px rgba(42, 171, 237, 0.15);
                transition: 0.3s ease;
                margin-bottom: 20px;
                &:hover {
                    box-shadow: 0px 0px 30px rgba(42, 171, 237, 0.4);
                }
            }
            &__whatsapp {
                width: 300px;
                text-align: center;
                padding-top: 14px;
                padding-bottom: 14px;
                background-color: #43D854;
                color: #fff;
                font-size: 18px;
                text-transform: uppercase;
                border-radius: 10px;
                box-shadow: 0px 0px 30px rgba(67, 216, 84, 0.15);
                transition: 0.3s ease;
                margin-bottom: 20px;
                &:hover {
                    box-shadow: 0px 0px 30px rgba(67, 216, 84, 0.4);
                }
            }
            &__viber {
                width: 300px;
                text-align: center;
                padding-top: 14px;
                padding-bottom: 14px;
                background-color: #8B66A9;
                color: #fff;
                font-size: 18px;
                text-transform: uppercase;
                border-radius: 10px;
                box-shadow: 0px 0px 30px rgba(139, 102, 169, 0.15);
                transition: 0.3s ease;
                margin-bottom: 20px;
                &:hover {
                    box-shadow: 0px 0px 30px rgba(139, 102, 169, 0.4);
                }
            }
        }
    }
}



.menu {
    background-color: #1F1F1F;
    width: 50%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100%;
    transition: 0.5s all;
    display: block;
    z-index: 100;
    text-align: center;
    padding: 40px 20px 40px 20px;
    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__logo {
            width: 150px;
            height: 72px;
            text-align: center;
            margin: 0 auto;
        }
        &__list {
            margin-top: 50px;
            &__item {
                margin-bottom: 20px;
                &__link {
                    font-size: 18px;
                    font-weight: 500;
                    font-family: 'SF-Medium';
                    color: #fff;
                    text-transform: uppercase;
                }
            }
        }
        &__call {
            position: absolute;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
            font-size: 14px;
            color: #12161E;
            font-weight: 500;
            font-family: 'SF-Medium';
            text-transform: uppercase;
            padding: 9px 26px;
            border: 1px solid #FBC418;
            border-radius: 10px;
            background-color: #FBC418;
            transition: 0.5s ease;
        }
    }
}

.menu_active {
    left: 0;
    position: fixed;
    top: 0;
}